.image{
	opacity: 1;
  	display: block;
  	width: 100%;
  	height: auto;
  	transition: .5s ease;
  	backface-visibility: hidden;
}
#teamname{
	color: white;
	text-align: center;
	font-size: 100px;
	margin-bottom: 10px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

#Aaron{
	background-color: blue;
	height: 150px;
	width: 150px;
	float: right;
	margin-top: 100px;
	margin-right: 850px;
}
#Aaron:hover .image{
	opacity: 0.3;
}
#Aaron:hover .middle{
	opacity: 1;
}
#Trixia{
	background-color: red;
	height: 150px;
	width: 150px;
	float: left;
	margin-top: 300px;
	margin-left: 400px;
}
#Trixia:hover .image{
	opacity: 0.3;
}
#Trixia:hover .middle{
	opacity: 1;
}
#Francheska{
	background-color: red;
	height: 150px;
	width: 150px;
	float: right;
	margin-top: 60px;
	margin-right: 500px;
}
#Francheska:hover .image{
	opacity: 0.3;
}
#Francheska:hover .middle{
	opacity: 1;
}
#Harold{
	background-color: orange;
	height: 150px;
	width: 150px;
	float: right;
	margin-top: 150px;
	margin-right: 750px;
}
#Harold:hover .image{
	opacity: 0.3;
}
#Harold:hover .middle{
	opacity: 1;
}
#Patricia{
	background-color: yellow;
	height: 150px;
	width: 150px;
	float: left;
	margin-top: 140px;
	margin-left: 630px;
}
#Patricia:hover .image{
	opacity: 0.3;
}
#Patricia:hover .middle{
	opacity: 1;
}

.text {
  margin-top: 600px;
  margin-right: 100px;
  margin-bottom: 100px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
</s
