body {
	background-image: url("Zed_Splash_3.jpg");
}
h1 {
	color:orange;
	font-size: 100px;
}
h2{
	text-align: center;
	font-weight: bold;
	color: orange;
}
h3 {
	text-align: center;
	color: orange;
	font-size: 12px;
}